{
  "log": {
    "_recordingName": "api-keys",
    "creator": {
      "comment": "persister:TrendMicroFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "2d37fd12ac6a122a92e1ff86eadc4f7a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "api-secret-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "api-version",
              "value": "v1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.deepsecurity.trendmicro.com/api/apikeys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 625,
            "text": "{\"apiKeys\":[{\"keyName\":\"jupiterone-test\",\"description\":\"Test api key for integration\",\"locale\":\"en-US\",\"roleID\":2,\"timeZone\":\"US/Eastern\",\"active\":true,\"created\":1586982900004,\"unsuccessfulSignInAttempts\":0,\"serviceAccount\":false,\"ID\":2},{\"keyName\":\"view-only\",\"description\":\"\",\"locale\":\"en-US\",\"roleID\":3,\"timeZone\":\"US/Eastern\",\"active\":true,\"created\":1587152322461,\"unsuccessfulSignInAttempts\":0,\"serviceAccount\":false,\"ID\":3},{\"keyName\":\"Full access\",\"description\":\"\",\"locale\":\"en-US\",\"roleID\":1,\"timeZone\":\"US/Eastern\",\"active\":true,\"created\":1587157800041,\"unsuccessfulSignInAttempts\":0,\"serviceAccount\":false,\"ID\":4}]}"
          },
            {
              "expires": "2020-04-24T21:10:32.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dsm-version",
              "value": "Deep Security/12.5.806"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 103,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
